snippet '# T' "todo annotation comment <Ctrl-l>"
# TODO: $1
endsnippet

snippet for "for loop" b
for ${1:item} in ${2:iterable}:
	${3:${VISUAL:pass}}
endsnippet

snippet testdb "pytest method using DB in django"
@pytest.mark.django_db
def test_${1:name}(${2:param}):
	${3:${VISUAL:pass}}
endsnippet
